@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,400;0,500;0,600;0,700;0,800;1,400;1,500;1,600;1,700;1,800&display=swap");

@tailwind base;
@tailwind utilities;
@tailwind components;

@layer base {
  :root {
    --background: 0 0% 100%;
    --background-secondary: 270 18% 7%;

    --foreground: 0 0% 0%;

    --primary: 272 84% 80%;
    --secondary: 0 100% 78%;

    --brand: 318 90% 70%;

    --muted: 0 0% 100% 0.4;
  }

  .dark {
    --background: 270 18% 7%;
    --foreground: 0 0% 0%;

    --primary: 272 84% 80%;
    --secondary: 0 100% 78%;

    --muted: 0 0% 100% 0.4;
  }
}

@layer base {
  html {}
}

.text-gradient {
  @apply bg-gradient-to-b from-secondary via-primary to-primary bg-clip-text text-transparent;
}

.text-gradient-reverse {
  @apply bg-gradient-to-t from-primary via-secondary to-secondary bg-clip-text text-transparent;
}

.bg-gradient {
  @apply bg-gradient-to-b from-secondary to-primary;
}

.bg-gradient-reverse {
  @apply bg-gradient-to-b from-primary to-secondary;
}

.profile-layout {
  @apply flex flex-col gap-6 md:flex-row md:gap-8 md:[&>*:first-child]:w-1/3 relative;
}

.airdrop-layout {
  @apply flex flex-col gap-6 md:flex-row md:gap-10 md:[&>*:first-child]:w-2/3 relative md:py-6;
}

/* 
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide {
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.animated-gradient-text {
  background: linear-gradient(90deg, #bbbaba, #882ac3, #da7aeb, #c5c2c2);

  background-size: 200% auto;
  color: #fff;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: gradient-animation 5s linear infinite;
  transition: background-position 0.4s;
  text-decoration: none;
  cursor: pointer;
}

@keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
} */